<div class="collection_of_photos">
    <h1>Photos tagged with <%= @tag.name %></h1>
    <%= render :partial => "photos/photo", :collection => @tag.photos, :spacer_template => "photos/photo_spacer" %>
</div>