<div class="single_photo">
    <div class="grid_15 suffix_1">
        <%= render :partial => "photo", :object => @photo %>
    </div>
    <div class="photo_sidebar grid_8">
        <div class="photo_navigation">
            <h5>More Photos</h5>
            <%= photo_navigation @photo %>
        </div>
    </div>
</div>
